<div id="<%= dom_id social_media_post %>">
  <p>
    <strong>Postable:</strong>
    <%= social_media_post.postable_id %>
  </p>

  <p>
    <strong>Posted at:</strong>
    <%= social_media_post.posted_at %>
  </p>

</div>
